<div style="text-align:right">
    <h4 class="text text-success">Find needed plan!</h4>
    <form method="get" asp-action="Index" asp-controller="CleaningPlans">
        <div id="app">
        <label for="planNameFind">Find by name: </label>
        <input name="planNameFind" value="@Model.PlanName" />

            <div>
                <label>Region</label>
                <select v-model="selectedRegion" >
                    <option v-for="region in Regions" v-bind:value="region">{{ region }}</option>
                </select>
            </div>

            <div>
                <label>Town</label>
                 
                <select name="LocationId" v-model="selectedTown">
                    <option :value="0">
                        All region
                    </option>

                    <option v-for="town in Towns" v-bind:value="town.id">{{ town.town }}</option>
                </select>
            </div>
            <input type="submit" value="Find" class="btn btn-success" />
            <input type="reset" style="width:auto" value="Reset" class="btn btn-outline-secondary" v-on:click="clearFilters" />
        </div>
    </form>
</div>

<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            Regions: Array,
            selectedRegion: '',
            Towns: Array,
            selectedTown: Number
        },
        mounted: async function(){
            const response = await fetch('/Locations/getRegions');
            const regions = await response.json();
            this.Regions = regions;
        },
        methods:{
            clearFilters: async function(){
                this.selectedRegion = this.Regions[0];
                this.selectedTown = 0;

                const response = await fetch(`/Locations/getTowns?region=${this.selectedRegion}`);
                const towns = await response.json();
                this.Towns = towns;

                console.log("Filters are reseted.");
            }
        },
        watch: {
            selectedRegion: async function(){
                const response = await fetch(`/Locations/getTowns?region=${this.selectedRegion}`);
                const towns = await response.json();
                this.Towns = towns;
            }
        }
    })
</script>
