@model User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if(Model != null)
    {
        <h3>Hello, @Model.UserName</h3>
        <h3>Your email: @Model.Email</h3>
    }
    else
    {
        <h2>Sign in or Log in to use</h2>
        <a asp-action="LogIn" asp-controller="Account">Log in</a><br />
        <a asp-action="SignIn" asp-controller="Account">Sign in</a>
    }
</div>
