@model User
@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-success" asp-action="Create" asp-controller="CleaningPlans">Create plan</a>
<a class="btn btn-success" asp-action="Index" asp-controller="CleaningPlans">Index plan</a>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if(Model != null)
    {
        <img src="~/images/@Model.ProfilePicture"   
                         class="rounded-circle"   
                         height="100" width="100"   
                         asp-append-version="true" />
        
        <h3>Hello, @Model.UserName</h3>
        <h3>Your email: @Model.Email</h3>
    }
    else
    {
        <h2>Sign in or Log in to use</h2>
        <a asp-action="LogIn" asp-controller="Account">Log in</a><br />
        <a asp-action="SignIn" asp-controller="Account">Sign in</a>
    }
</div>
